<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwmlapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
	<!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- wifi网络 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获得手机号 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" 
        >
        <activity
            android:name="com.cwmlapp.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.cwmlapp.MainActivity" />
         <activity
            android:label="@string/app_name"
            android:name="com.cwmlapp.RegistryActivity" />
          <activity
            android:label="@string/app_name"
            android:name="com.cwmlapp.AddDiaryActivity" />
          <activity
            android:label="@string/app_name"
            android:name="com.cwmlapp.ShowDiaryDetail" />
          <activity
            android:label="@string/app_name"
            android:name="com.cwmlapp.AddCommentActivity" />
          <activity
            android:label="@string/app_name"
            android:name="com.cwmlapp.ShowComment" />
    </application>

</manifest>
